.wrapper-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapper-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#game-board {
    border-collapse: separate;
}

.game-board-cell {
    text-align: center;
    border: 1px dashed black;
    font-size: 70px;
    min-width: 95px;
    min-height: 95px;
    width: 95px;
    height: 95px;
    margin: 0px;
    padding: 0px;
}

.game-board-header {
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

#game-score {
    border-collapse: separate;
}

#game-score td {
    text-align: center;
    font-size: 60px;
    padding: 10px;
    min-width: 80px;
    width: 80px;
}

.game-active-player td {
    border: 5px black solid;
}

#config-setup * {
    font-size: 40px;
}

#config-controls td {
    border: 1px dashed black;
    padding: 25px;
}

#config-submit {
    text-align: center;
}
