.wrapper-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapper-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right-aligned {
    margin-left: auto;
}

#game-board {
    border-collapse: separate;
    border-spacing: 10px;
}

#game-board td {
    text-align: center;
    border: 3px dashed lightblue;
    font-size: 55px;
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
}

#game-score caption {
    font-size: 30px;
}

#game-score td {
    text-align: center;
    font-size: 60px;
    padding: 10px;
}

.game-active-player {
    font-size: x-large;
    background-color: red;
    border: 2px double;
}
